# Node modules
node_modules/

# Environment Variables
.env

# Log Files
#.log

# Build and distribution directories
dist/
build/

# System Files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
idea/

# Docker Files
docker-compose.override.yml